
<h2 class="m_50 main_ttl"><i class="far fa-comments"></i>&nbsp;レビューを自由に</h2>
<% if user_signed_in? %>
<div class="circle_parts">
  <p class="welcome">Welcome!</p>
  <ul>
    <li class="circle1">
      どんな部屋？
    </li>
    <li class="circle2">
      仲良くなれる？
    </li>
    <li class="circle3">
      治安は？
    </li>
    <li class="circle4">
     住人はどんな人？
    </li>
    <li class="circle5">
     住人の交流は？
    </li>
  </ul>
</div>

 <% else %>
    <div class="login_gr">
      <%= link_to "ログイン", new_user_session_path, class: "login btn_link" %>
      <%= link_to "新規登録", new_user_registration_path, class: "new btn_link" %>
    </div>
    <!-- Slider main container -->
    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <% @rooms.each do |room| %>
              <img src="<%= room_image_url(room) %>" alt="" />
            <% end %>

        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>


    </div>
<% end %>

<script data-turbolinks-eval="false">
var mySwiper = new Swiper('.swiper-container', {
  effect: 'cover-flow',
  slidesPerView: 3;
  centeredSlides: true;
  speed: 1000;
  autoplay: {
    delay: 300;
  }
  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },
  loop: true;

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
})
</script>
