
<h2 class="m_50 main_ttl">レビューを自由に</h2>

<% if user_signed_in? %>
  <p class="welcome">Welcome!</p>
  <% else %>
    <div class="login_gr">
      <%= link_to "ログイン", new_user_session_path, class: "login btn_link" %>
      <%= link_to "新規登録", new_user_registration_path, class: "new btn_link" %>
    </div>
<% end %>