<div class="header_outline">
     <header class="header">
          <div class="title_gr">
               <h1>
                    <%= link_to "Sharehouse Review", root_path, class: "title" %>
               </h1>
          </div>

          <div class="header_login_gr">
               <p class="site_display">
                    <%= link_to rooms_path do %>
                    <i class="far fa-arrow-alt-circle-right"></i>
                    <span class="admin_page">サイトを表示</span>
                    <% end %>
               </p>

               <%= link_to "新規登録", new_admin_room_path, class: "header_new btn_link" %>
               <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header_login btn_link" %>
          </div>

     </header>
</div>
