<% if flash[:notice] %>
  <div class="flash_notice">
  <p class="notice"><%= notice %></p>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="flash_alert">
  <p class="alert"><%= alert %></p>
  </div>
<% end %>