@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap');
@import "users";
@import "rooms";
@import "reviews";
@import "top";
@import "relationships";
@import "comments";
@import "photos";
@import "management_companies";


html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.05em;
  font-family: tbchibirgothicplusk-pro, sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: snow;
  max-height: 100vh;
}


a {
  display: block;
  transition: 0.5s;
  text-decoration: none;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

img {
  width: 100%;
  vertical-align: bottom;
}

.header_outline{
  box-shadow: 0 0 7px 0 rgb(234, 196, 201);
}

.header {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 5vw;
  display: flex;
  align-items: center;

  // @media screen and (max-width:360px){

  }
  .title_gr{
      display:flex;
      align-items: center;
      flex-wrap: wrap;
      margin-right: auto;
      .title{
            font-size: 2rem;
            font-weight : bold;
            color: #333;
            font-family: 'Sansita Swashed', cursive;
            white-space: nowrap;
}

      .sharehouse_list{
            position: relative;
            margin-left: 30px;
            color: #333;
            transition: 1s;
            font-size: 1.5rem;
            &::after{
              position: absolute;
              bottom: -4px;
              left: 0;
              content: '';
              width: 100%;
              height: 2px;
              background: #333;
              transform: scale(0, 1);
              transform-origin: left top;
              transition: transform .3s;
            }
            &:hover::after{
            transform: scale(1, 1);
            }
       }
  }

  .logout_gr{
      display:flex;
      align-items: center;
    .current_user{
          margin-right: 20px;
          font-size: 1.5rem;
          color:#333;
    }
    .logout,
    .my_page_btn{
          background-color: #fff;
          border: 2px solid grey;
          color: grey;
          font-weight: bold;
          letter-spacing: .1rem;
          margin-left: 15px;
          padding:2px 10px;

          border-radius: 2px;
          font-size: 1.5rem;
      &:hover {
        cursor:pointer;
        }
    }
    .my_page_btn{
      background-color:grey;
      color:#fff;
    }

  }


.header_login_gr{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  flex-wrap: wrap;
}
  .btn_link{
    border: 2px solid grey;
    padding: 10px 40px;
    border-radius : 3px;
  }
  .header_login{
  @extend .login;
  padding: 2px 10px;
  border-radius : 2px;
  background: #fff;
  color: grey;
  }
  .header_new{
    @extend .new;
    white-space: nowrap;
    padding: 2px 10px;
    border-radius : 2px;
    color: #fff;
    background: grey;
  }

.header_new_admin{
   white-space: nowrap;
    padding: 2px 18px;
    border-radius: 2px;
    color: #fff;
    background: grey;
}





////////////////// 変数 ////////////////////

$font_s: 2rem;
$font_m: 2.5rem;
$font_l: 3rem;

$m_30: 30px;
$m_50: 50px;

////////////////// 共通 /////////////////////

h2 {
  color: grey;
  text-align: center;
}

.font_l {
  font-size: $font_l;
}
.font_m {
  font-size: $font_m;
}
.font_s {
  font-size: $font_s;
}

.bold{
  font-weight: bold;
}
.m_30{
  margin: 30px;
}
.m_50{
  margin: 50px;
}
.mt50{
  margin-top:50px;
}
.mt30{
  margin-top:30px;
}
.mt20{
  margin-top:20px;
}
.pt50{
  margin-top:50px;
}


//スマホ改行テキスト
.sp_br {
  display: none;
  @media screen and(max-width:768px) {
    display: block;
  }
}


.footer_fixed{
  position:relative;
  padding-bottom:50px;

  footer {
    position: absolute;
    bottom:0;
    left:0;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    width:100vw;

    .copy_right{
      color: #333;
      padding: 5px 0;
      text-align: center;
      display: block;
      background-color: rgb(234, 196, 201);
  }
}
}
 .container{
    max-width: 1000px;
    margin: 0 auto;
    padding:0 20px;
  }



.flash_notice,
.flash_alert {
  margin-bottom: 10px 0;
  text-align: center;
  .notice {
    background-color:#02020291;
    box-shadow: 2px;
    color: rgb(234, 196, 201);
    padding: 10px;
  }
  .aleart {
    background-color: red;
    color: #eee;
    padding: 10px;
  }
}


.admin_page{
  a{
  color: rgb(72, 72, 72);
  }
}
.fa-arrow-alt-circle-right{
  color: rgb(72, 72, 72);
}



.site_display{
  display:flex;
  align-items: center;
  white-space: nowrap;

  a{
   color: rgb(72, 72, 72);
  }
}

/*
 *= require_tree .
 *= require_self
 */
