// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.comment_form_container{
  max-width: 760px;
  margin: 0 auto;
}
.comment{
  margin-top: 30px;
  padding-top: 20px;
  border-top: 3px dotted #f5a8b5;
}

.grid_comment{
  display:grid;
  grid-template-columns: 150px 1fr 100px;
  gap:10px;
  align-items: center;
 margin-bottom: 5px;
 color:rgb(99, 97, 97);
 font-size: 95%;
}

.comment_button{
  display: flex;
  gap: 10px;
  a{
    color:rgb(141, 140, 140);
    border: 2px solid #e594a1af;
    border-radius: 3px;
    font-size: 95%;
    padding: 1px 5px;
  }
}

.comment_button_gr{
  @media only screen and (min-width: 381px){
  display: flex;
  align-items: center;
  gap: 10px;
  }
  @media only screen and (max-width: 380px){
  width: 100%;
  }
}


.grid_table_review{

    margin-top: 30px;
     display:grid;
     grid-template-columns: 120px 100px 1fr 125px 50px;


     .grid_ttl{
     border-bottom: 2px solid lightgrey;
     padding-left: 10px;
     font-size: 85%;
     }

     .border_layout{
       padding: 7px 15px 7px 0;
       padding-left: 10px;
       color: rgb(99, 97, 97);
       font-size: 95%;
     }
     .profile_page{
        font-size: 90%;
     }

  .favorites{
      display: flex;
      gap: 0 7px;
      .fa-heart{
          color:rgb(252,101,141);
      }
  }
}

.comment_evaluation{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
     input[type='radio']{
     display: none;
     }
     label{
     position: relative;
     color: gray;
     font-size: 13px;
          .text{
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          text-align: center;
          font-size: 12px;
          color: gray;
          }
     }
}

.comment_evaluation input[type='radio']:checked ~ label{
  color: #ffcc00;
}

.username_link{
  display: flex;

  a{
  color:#636161;;
}
}

.review_reply{
  margin-top: 30px;
  padding-top: 20px;

}