// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.border{
     border: 2px solid #DBE6FF;
     background-color:#f5f5f5;
     margin:20px 0;
     padding:20px;
     .card_title{
          font-weight:bold;
          font-size:20px;
          margin-bottom:20px;
     }
     .card_inner{
          display:flex;
          justify-content:space-between;
     }
}

.main_ratings{
     display:flex;
     .ratings{
          padding-bottom: 10px;
          .far{
          font-size:30px;
          color: #fc0;
          cursor: pointer;
          }
     }
     .rating_value_display{
     font-size: 20px;
     padding: 8px 0 0 20px;
     }
}

.rate{
position: relative;
display: inline-block;
}
.rate:before,
.rate:after{
content: “★★★”;
}
.rate:before{
color: #ccc;
}
.rate:after{
position: absolute;
left:0;
top:0;
color: #FFA500;
}







.review{
     font-size: 20px;
     padding:40px 0 20px 0;
     width: 500px;
     text-align: left;
     margin:0 auto;
}
.textarea{
     width: 100%;
     padding: 10px;
     height: 80px;
     border: 1px solid lightgrey;
     margin-bottom: 10px;
}

.grid_table{
     margin-top: 30px;
     display:grid;
     width:100%;
     grid-template-columns: 1fr 1fr 2fr;
     .grid_ttl{
     border-bottom: 2px solid lightgrey;
     }
     .border_layout{
     padding: 5px;
     border-bottom: 1px solid lightgrey;
     }
}
