// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.border{
     box-shadow: 0 0 1px 1px rgba(135, 207, 235, 0.336);
     border: 2px solid #DBE6FF;
     background-color: #f4f6f9;
     margin:20px 0;
     padding: 20px;


     .buttons{
          position:relative;
     }
      .card_inner{
          display:flex;
          position:relative;
           min-width: 100%;
            flex-wrap: wrap;
            @media screen and (max-width:380px){
             padding-bottom: 150px;
  }
.link_buttons{
  padding: 0 15px;
     display:flex;
     align-items: center;
          position:absolute;
          bottom:0;
          right: 0;
          width: 50%;
          justify-content: center;
              gap: 10px;
              flex-wrap: wrap;

          @media screen and (max-width:380px){
            width:100%;
      }
}

          }

     }
.admin_link_buttons{
     padding: 0 15px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 10px;
    right: 0;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}




     .bookmark{
          text-align: right;
          color:#8da7c4;
          padding-right:15px;
          font-weight: bold;
          @media screen and (max-width:380px){
          letter-spacing: 0;
          padding-right: 0;
          }
     }
     .card_title{
          font-weight:bold;
          font-size:20px;

     }

     @media screen and (max-width:380px){
          .w_50{
          width: 100%;
         padding-top: 10px;
     }
}

@media screen and (min-width:381px){
     .w_50{
          width: 50%;
          padding: 15px;

          img{
          width: 100%;
          height: 280px;
          object-fit: cover;
          }
     }
     .card_right{
          height: 280px;
     }
}


.evaluation{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 10px;
  font-size: 90%;
     input[type='radio']{
     display: none;
     }
     label{
     position: relative;
     padding: 10px 10px 0;
     color: gray;
     cursor: pointer;
     font-size: 30px;
          .text{
          position: absolute;
          left: 0;
          top: 0;
          right: 0;
          text-align: center;
          font-size: 12px;
          color: gray;
          }
     }
}
.star_text{
  padding-right: 10px;
  color: grey
}


.evaluation label:hover,
.evaluation label:hover ~ label,
.evaluation input[type='radio']:checked ~ label{
  color: #ffcc00;
}


.review{
     font-size: 17px;
     font-weight: bold;
     padding:40px 0 15px 0;
     text-align: center;
     margin:0 auto;
     color:grey
}
textarea{
     width: 100%;
     padding: 10px;
     height: 230px;
     border: 1px solid lightgrey;
     margin-bottom: 10px;
     color: #333;
}


.grid_table{
     margin-top: 30px;
     display:grid;
     width: 100%;
     grid-template-columns: 130px 10vw 1fr 115px 100px 30px;
     word-break : break-all;
      @media screen and (max-width:380px){
      grid-template-columns: 1fr;
     }

     .grid_ttl{
     border-bottom: 2px solid lightgrey;
     font-size: 90%;
     @media screen and (max-width:380px){
       display:none;
     }
          a{
               color: #171717;
          }
     }
     .border_layout{
     padding: 7px 13px 7px 0;
     border-bottom: 1px solid lightgrey;
     font-size: 1.5rem;
     color: #333;
     }


.favorites{
     display: flex;
     gap: 0 7px;
    .fa-heart{
        color:rgb(252,101,141);
    }
}
}

.profile_page,
.review_list{
     a{
       text-align: center;
       color: #fff;
       font-weight:bold;
       font-size: 90%;
 background-color:rgb(228, 138, 153);
 border: 2px solid rgb(228, 138, 153);
  border-radius: 20px;
     }
}
.profile_reply{
     a{
           text-align: center;
          color:rgb(228, 138, 153);
           font-weight:bold;
            font-size: 86%;

 border: 2px solid rgb(228, 138, 153);
 background-color: #fff;
  border-radius: 20px;

     }
}
.evaluate_buttons{
  display: flex;
  gap:10px;
}
.evaluation_form_container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.evaluate_layout{
  max-width: 360px;
  width: 100%;
}