// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.ttl{
     margin-top:30px;
}



     @media screen and (max-width:380px){
          .w_50{
          width: 100%;
         padding-top: 10px;
     }
}
 @media screen and (min-width:381px){
     .w_50{
       width: 50%;
       padding: 15px;
      }
}



          img{
           width: 100%;
          height: 260px;
          object-fit: cover;
          }


          .star_review{
               display:flex;
               align-items: center;
               width:100%;

               .star-rating {
                    width: 5em;
                    font-size: 2.5rem;
                    position: relative;
                    .star-rating-front {
                    position: absolute;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                    color: #ffcc33;
                    }
                    .star-rating-back {
                    color: #ccc;
                    }
               }

               .average-score-display {
                    font-size: 1.6rem;
                    margin-left: 18px;

               }
          }


     .roomfee{
     font-size: 1.8rem;
     font-family: toppan-bunkyu-midashi-go-std, sans-serif;
     font-weight: bold;

     text-shadow:1px 1px 1px #ccc;

     letter-spacing: -0.02em;
     padding: 10px 10px 10px 0;

          .utilities{
          font-size: 1.3rem;

          font-weight:normal;

          }
     }


.more_photo{
  text-align:right;
  color: grey;
  font-weight: bold;

}



.button_right{
      text-align: right;
     .new{
          display:inline-block;
     }
}
.grid_new{
    width: 100%;
    max-width: 550px;
    margin:0 auto;
}

input[type="text"],
textarea{
     width: 100%;
     margin-bottom: 20px;
     border: 1px solid lightgrey;
     padding:10px;
}

.price{
     width:100%;
     display:flex;
}


input[type="submit"]{
     margin-top: 30px;
}

.search_box{
    text-align: center;
     input[type="search"]{
          padding:8px 10px;
          width: 17em;
     }
     .link_button{
          width: 50px;
          padding: 6px;
     }

}


.sharehouse_search{
          font-size:28px;
          text-align: center;
          margin-top: 50px
     }
.pagination{
     display:flex;
     flex-wrap: wrap;
     gap:10px;
     margin-bottom: 20px;
     color: grey;
     a{
     color:#333;
     }
     .current{
     width: 25px;
     height:25px;
     line-height: 25px;
     border-radius: 50%;
     background-color: #93c9ff;
     text-align: center;
     font-weight:bold;
     color: #fff;
     }
     font-size: 1.5rem

}

.tag{
     border: 1px solid grey;
     padding: 0 5px;
     background-color: lightpink;
     display:inline-block;
     font-size: 1.4rem;
     margin:10px 0;
}

.desc{
     color: grey;
     font-size: 1.4rem;
}
.inqury{
text-align: center;


  color: rgb(252, 195, 204);
  width: 100%;
  height:40px;
  line-height: 40px;
  background-color:#333;
  position:relative;
  white-space: nowrap;
  @media screen and (min-width:381px){
    text-align: right;
  padding: 0 10px 0 0;
  width: 170px;
      }

  &::before{
    text-align: left;
    padding-left:10px;
    content: "\f1d8";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 96%;
    height: 86%;
    z-index: 10;
    color: rgb(252, 195, 204);
    border: 1px solid rgb(238, 188, 197);
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);


  }
}


.card_button1,
.card_button2{

color:#fff;
background-color: grey;
padding: 3px 8px;
border-radius: 3px;
font-size: 90%;
border:2px solid grey;
letter-spacing: -0.03em;
 @media screen and (max-width:380px){
padding: 5px 18px;
width: 100%;
text-align: center;
 }
}
.back_to_index{
  color:#fff;
background-color: grey;
padding: 3px 8px;
border-radius: 3px;
font-size: 90%;
border:2px solid grey;
letter-spacing: -0.03em;
 @media screen and (max-width:380px){
padding: 5px 18px;
text-align: center;
 }

}

.card_button2{
  background-color: #fff;
  color: grey;
  margin-left: 0;
  @media screen and (max-width:380px){
   margin-left: 0;
  }
}
.font100{
  font-size:100%;
}
