// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.ttl{
     margin-top:30px;
}
.card_inner{
     height:250px;
     position: relative;
     .w_50{
          width: 50%;
          padding: 15px;
          .star_review{
               display:flex;
               align-items: center;
               width:100%;

               .star-rating {
                    width: 5em;
                    font-size: 2.5rem;
                    position: relative;
                    .star-rating-front {
                    position: absolute;
                    top: 0;
                    left: 0;
                    overflow: hidden;
                    color: #ffcc33;
                    }
                    .star-rating-back {
                    color: #ccc;
                    }
               }

               .average-score-display {
                    font-size: 16px;
                    margin-left: 18px;
                    }
          }
     }

     .roomfee{
     font-size: 2rem;
     }
     .description{
     font-size: 1.6rem;
     padding: 0 20px;
     }
     .link_bottons{
     position: absolute;
     bottom: 0;
     right: 20px;
     }
}

.button_right{
      text-align: right;
     .new{
          display:inline-block;
     }
}
.grid_new{
     width: 500px;
     margin:0 auto;
}

input[type="text"],
textarea{
     width: 95%;
     margin-bottom: 20px;
     border: 1px solid lightgrey;
}

input[type="submit"]{
     margin-top: 30px;
}
