.login{
     background-color: #fff;
     border: 2px solid grey;
     color: grey;
     margin: 30px 0;
     letter-spacing: .1rem;
     }
.new{
     border: 2px solid grey;
     background-color: grey;
     letter-spacing: .1rem;
     color:#fff;

}

.login_gr{
     margin: 20px auto;
     .btn_link{
          border: 2px solid grey;
          padding: 10px 40px;
          border-radius : 3px;
     }
  }


.header_login{
     @extend .login;
     padding: 2px 10px;
     border-radius : 2px;
}
.header_new{
  @extend .new;
  padding: 2px 10px;
  margin-left: 10px;
  border-radius : 2px;
}

.welcome{
     text-align: center;
     font-size: 10rem;
     color: pink;
     text-shadow: 2px 2px 1px silver;
     font-family: 'Pacifico', cursive;
     padding-top: 20px;
}

.main_ttl{
font-family: a-otf-jun-pro, sans-serif;
font-style: normal;
font-size: 20px;
}