.form_container{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    text-align: left;
}
  .field{
    margin-top: 20px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    height: 35px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

    .button{
    border: 2px solid grey;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

     background-color: grey;
     color: #fff;
     display: inline-block;

     font-size: 1.5rem;
     padding:10px;
     border-radius: 5px;

     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
     transition: 0.5s;

     line-height: 1em;
     width:100%;
     text-align: center;


    &:hover {
    box-shadow: 0 0;
    transform: translate(3px, 3px);
    cursor: pointer;
     }
}

.link_button{
  @extend.button;
  background-color: #fff;
  color: grey;
  font-weight: bold;
  border: 2px solid grey;
  display: inline-block;

  &:hover {
    box-shadow: 0 0;
    transform: translate(2px, 2px);
    cursor: pointer;
     }
}

.button,
.forget_pwd{
  margin: 30px 0;
  font-family: 'Kosugi Maru', sans-serif;
}
.forget_pwd{
  color:#171717;
  text-align: left;
}
.reset{
  margin: 30px 0;
}

.grid_admin_user{
     margin-top: 30px;
     width:100%;
     display:grid;
     grid-template-columns: 1fr 2fr 1fr 1fr;

     .grid_ttl{
     border-bottom: 2px solid lightgrey;
     }
     .border_layout{
     border-bottom: 1px solid lightgrey;
     line-height: 3em;
     height: 3em;
    }
    .button{
      padding:5px;
    }
  }

  .button-right{
    text-align: right;
  }

  #user_name{
    width:100%;
  }


  .form_container{
    width: 600px;
  }


  .profile_gr{
    display:flex;
    justify-content: space-between;
    gap: 20px;

  .profile_img{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  .profile_text{
     width:53%;
     padding: 10px;
     border-top: 2px solid lightgrey;
     border-bottom: 2px solid lightgrey;
    .profile{
    font-size: 90%;
    color:grey;
  }

  }
}




  .follow,
  .unfollow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(238, 173, 182);
    border: 2px solid, rgb(238, 173, 182);
    border-radius: 20px;
    color:#fff;
    position: absolute;
    bottom: 10px;
    right: 0;
    font-weight: bold;
    padding: 2px 10px;
  }
  .unfollow{
    @extend.follow;
      background-color: #fff;
      color:rgb(238, 173, 182);
      border: 2px solid rgb(238, 173, 182);
  }
.user_name{
  width: 150px;
  padding-left: 10px;
  position: relative;
 .link_gr{
    display:flex;
    position: absolute;
    bottom:10px;
    right: 10px;
    gap:10px;
    margin-top: 8px;
    a{
    color: grey;
    border: 2px solid grey;
    padding: 0 8px;
    border-radius: 2px;
    }
  }
}
  .follower_user_parent{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  }
  .follower_user,
  .followerd_user{
    margin-bottom: 20px;
    width: 250px;
    border: 2px solid #F8F8F8;
    padding: 10px;
    background-color:#F8F8F8;
    border-radius: 10px;
    a{
     color: grey;
    }

    img{
      height: 100px;
      object-fit: contain;

    }
  }

  .profile{
  font-size: 90%;
  line-height: 1.4;
  }



.new_btn{
    text-align:center;
 input[type="submit"]{
   font-size: 1.6rem;
   border-radius: 2px;
   background-color:#fff;
   padding: 5px 10px;
   color:grey;
   font-family: 'Kosugi Maru', sans-serif;
   border: 2px solid grey;
   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
   transition: .5s;
   &:hover{
     opacity: .7;
     cursor:pointer;
      box-shadow: 0 0;
      transform: translate(2px, 2px);
   }
 }
}

.tabs{
  margin-top: 50px;
  display: flex;
  .tab_item{
    width:15%;
    margin-right:10px;
    a{
      display:flex;
      justify-content:center;
      align-items:center;
      height:40px;
      background-color: #bbb;
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
      transition: .3s;
      font-size: 1.5rem;
      color: #333;
      &.active{
      background-color:#fff;
      }
    }
  }
}
.contents{
   background-color:#fff;
  li{
    padding:20px;
    display:none;
  }
   .active{
      display:block;
    }
}

.grid_table_mypage{
    display: grid;
    grid-template-columns: 180px 9vw 1fr 120px 40px;
    font-size: 80%;

      .grid_ttl{
     border-bottom: 2px solid lightgrey;
          a{
               color: #171717;
          }
     }
     .border_layout{
     padding: 7px 15px 7px 0;
     border-bottom: 1px solid lightgrey;
     font-size: 1.5rem;
     color: #333;

     }
}

.profile_img{
  img{
  height: 170px;
  object-fit: contain;
  }
}

.color_grey{
  color: grey;
  font-size: 1.5rem;
  white-space: nowrap;
  padding-top: 10px;
}

.favorites{
     display: flex;
     gap: 0 7px;
    .fa-heart{
         color:rgb(252,101,141);
    }
  }

.back_to_mypage{
  a{
  color:rgb(114, 112, 112);
  }
}