<%= @review.comment%>
<div class="form_container">
<h2 class="comment">コメント</h3>
<% @review.comments.each do |comment| %>
  <div>
    <strong><%= comment.name %></strong><br />
    <p><%= comment.body %></p>

    <%# if comment.persisted? %>
      <p><%#= link_to '削除', comment_path(comment), method: :delete, data: { confirm: '削除してもよろしいですか？' } %></p>
    <%# end %>
  </div>
<% end %>

<%= render 'comments/form', review: @review %>
</div>
